/.classpath
/*.iml
/.project
/DEV_/
/.dbeaver-data-sources.xml
/.idea/
/.settings/
/node_modules/
/**/*.swp
/src/main/resources/rebel.xml
/*.jks
*.jar

/**/.DS_Store
.factorypath

###mvn###
/target/
!.mvn/wrapper/maven-wrapper.jar

###db###
/**/*.db


src/main/resources/application-dev.properties

/**/node_modules/


tools/
